.navbar-trans {
    background-color: transparent;
}

.splash {
    background-image: url("/images/photo-1592231167824-f3bf35eee521.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
}

.headline {
    font-weight: bold;
    padding: 10px 0 50px 0;
}

.auth {
    padding: 0 0 50px 0;
}
.wrapper {
    margin: -200px 0 0 0 !important;
}

.quote {
    font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
    letter-spacing: 0.02em;
}

.benefit {
    z-index: 1;
    width: 400px;
    height: 450px;
    padding: 50px;
    background-color: #FFFFFF;
    color: #000000;
}

.feature {
    margin: -75% 0 0 0;
    padding: 50px;
    width: 400px;
}

.icon {
    max-width: 40%;
}

.facts {
    padding: 50px;
    width: 100vw;
    background-color: #000000;
    color: #FFFFFF;
}

.lcfa {
    font-weight: bold;
}

